@layer base {
    :root {
      /* colors */
      --forestgreen: #E4D4C8;
      --bluegreen: #523A28;
      --spearmint: #A47551;
      --tealgreen: #D0B49F;
  
      /* fonts */
      --decorative: "Montserrat", sans-serif;
      --sans: "Open Sans", sans-serif;
  
      /* font scale */
      --base-size: 1.2rem;
      --scale: 1.25;
      --xl: calc(var(--h1) * var(--scale) * var(--scale)); /* 7.15rem */
      --lg: calc(var(--h1) * var(--scale)); /* 4.575rem */
      --h1: calc(var(--h2) * var(--scale)); /* 3.66rem */
      --h2: calc(var(--h3) * var(--scale)); /* 2.93rem */
      --h3: calc(var(--h4) * var(--scale)); /* 2.34rem */
      --h4: calc(var(--h5) * var(--scale)); /* 1.875rem */
      --h5: calc(var(--h6) * var(--scale)); /* 1.5rem */
      --h6: var(--base-size); /* 1.2rem */
      --small: calc(var(--base-size) / var(--scale)); /* 0.96rem */
  
      /* other variables */
      --radius: 5px;
    }
  
    /* add border box sizing to the page right from the start */
    html {
      box-sizing: border-box;
    }
    *,
    *:before,
    *:after {
      box-sizing: inherit;
    }
    body {
      font-family: var(--sans);
      line-height: 1.5;
      background-color: var(--forestgreen);
      color: var(--spearmint);
      font-size: var(--base-size);
      padding: 0;
      margin: 0;
    }
    h1,
    h2,
    h3,
    .h1,
    .h2,
    .h3 {
      font-weight: 400;
      font-family: var(--decorative);
      margin: 0;
    }
    h1,
    .h1 {
      font-size: var(--h1);
      line-height: 1;
      margin-bottom: var(--h2);
    }
    h2,
    .h2 {
      font-size: var(--h2);
      line-height: 1.1;
      margin-bottom: var(--h3);
    }
    h3,
    .h3 {
      font-size: var(--h3);
      line-height: 1.2;
      margin-bottom: var(--h4);
    }
    img {
      max-width: 100%;
      border-radius: var(--radius);
    }
    figure {
      margin: 0;
    }
    a {
      color: tomato;
    }
    a:hover {
      text-decoration: none;
    }
    header {
      background-color: var(--spearmint);
      border-bottom: 20px double var(--tealgreen);
      padding-top: 1rem;
    }
    header h1 {
      color: var(--forestgreen);
      text-align: center;
    }
    /* h/t https://shannonpayne.com.au/how-to-create-a-low-highlight-text-effect-using-css/ */
    .fancy-text {
      background: linear-gradient(135deg, var(--tealgreen) 0%, var(--spearmint) 100%);
      background-repeat: no-repeat;
      background-size: 100% 35%;
      background-position: 0 90%;
    }

    .container{
        width:100%;
        height:50vh;
        background-image:url(images/placement.jpg);
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
        padding-left: 8%;
        padding-right:2% ;   
    }
        nav{
          margin-left:900px;
            display: inline;
          width: auto;
        }
        ul{
          list-style-type: none;
          display: inline-block;
          margin-bottom: 10px;
        }
        li{
          padding: 10px 10px 0px 10px;
          display: inline-block;
          font-size: 1.5rem;
        }
        .pa{
          max-width: 1000px;
          text-align: center;
          margin: auto;
        }
    *{
        margin:0;
        padding:0;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        
    }
    html{
        box-sizing: border-box;
    }
    *,::after,::before{
        box-sizing: inherit;
    }
    
    .main{
        text-align:center ;
    }
    .text{
        padding-top: 40px;
        display: inline;
    }
    .space{
        background-color:seashell;
        padding-left: 10%;
        padding-right: 10%;
    }
    .details{
        padding-top: 30px;
    }
}
